.admin_dashboard{
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    .nav_side{
        position: fixed;
        background-color: black;
        width: 15%;
        height: 100vh;
        padding: 2% 1%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.4);

        .nav_header_logo{
            img{
                max-width: 100%;
             }
        }
        // h2{

        // }
      

        .dashboard_nav_links{
            padding-top: 50px;
            a{
                display: block;
                text-decoration: none;
                color: rgba(255, 255, 255, 0.56);
                padding: 10px 20px;
                border-radius: 5px;
                margin: 5px 0px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                transition: 0.3s ease;
                // font-weight: 500;
                img{
                    height: 20px;
                    filter: invert(1);
                    margin-right: 8px;
                    margin-top: -2px;
                }
                &:hover {
                    background-color: #FF698D;
                    color: #fff;
                }

            }
            .active_class{
                display: block;
                text-decoration: none;
                color: white;
                background-color:#FF698D;
                padding: 10px 20px;
                border-radius: 5px;
                margin: 15px 0px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                font-weight: 500;
            }
        }
    }
    .dashboard_view{
        padding: 20px;
        width: 85%;
        margin-left: 15%;
        .dashborad_header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    
            b{
                width: 40%;
            }
            span{
                width: 40%;
            }
            .notification_bar{
                width: 20%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
                padding: 10px;
                border-radius: 15px;
                img{
                    height: 30px;
                    width: auto;
                }
                .bell_icon{
                    height: 20px;
                }
                .user_profile{
                    display: flex;
                    align-items: center;
                    p{
                        display: inline-block;
                        margin-bottom: 0;
                        margin-left: 5px;
                        
                    }
                }
            }
           
        }
        .dashboard_stats{
            padding: 30px 0px;
            display: flex;

            .dash_partial_mid{
                width: 70%;

                .dashboard_stats_cards{
                    padding: 20px;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
                    margin:12px 7px;
                    border-radius: 15px;
                    h3{
                        color: black;
                        font-weight: 500;
                        font-size: larger;
                    }
                    h4{
                        color: rgb(177 171 171 / 70%);
                        font-weight: 300;
                        font-size: larger;
                        width: 100%;
                        border-bottom: 1px solid rgba(128, 128, 128, 0.2);
                        padding-bottom: 10px;
                    }
                 
                    span{
                        color: rgb(177 171 171 / 70%);
                        display: block;
                    }
                    button{
                        background-color: #FF698D;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 5px;
                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
                        border: none;
                        display: block;
                        margin: auto;
    
                    }
                    a{
                        text-decoration: none;
                        color: rgba(0, 0, 0, 0.54);
                    }
                }
            }
            .dash_partial_corner{
                width: 30%;
                // border-left:1px solid rgba(128, 128, 128, 0.2);
                // margin-left: 20px;
                // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
                height: fit-content;
                padding:15px ;

            }
         

        }
        .add_btn_container{
            position: relative;
            width: 100%;
            height: 80px;
            padding: 10px 0px;
            button{
                position: absolute;
                right: 20px;
                background-color:  #FF698D;
                color: white;
                outline: none;
                border: none;
                border-radius: 5px;
                padding: 5px 25px;
            }
            .project-select{
                position: absolute;
                left: 20px;
                width: 30%;
            }
            .existing-project{
                position: absolute;
                button{
                    position: relative;
                }
                left: 20px;
                display: flex;
                justify-content: flex-start;
            }
        }
        .table_view{
            table{
                width: 100%;
                tr{
                    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
                   td{
                    padding: 5px;
                   }
                   th{
                    padding: 5px;
                   }
                }
            }
        }
    }
}



// modal form css

.modal_to_add{
    input{
        height: auto;
    }
}

#employe_list_container{
    table{
        width: 100%;
        tr{
            border-bottom: 1px solid rgba(128, 128, 128, 0.3);

            td{
                padding: 5px;
            }
            th{
                padding: 5px;
            }
        }
    }
}

.form-group-emp-select {
    display: block;
    margin-bottom: 15px;
  }
  
  .form-group-emp-select input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group-emp-select label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group-emp-select label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0079bf44;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group-emp-select input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #FF698D;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .ticket_des_modal{
        min-height: 100vh;
    .ticket_des_header{
        display: flex;
        width: 100%;
        #ticket_subject{
            margin-left: 30px;
        }
    }
    .ticket_des_body{
        display: flex;
        width: 100%;
        .des_text{
            width: 70%;
            padding: 15px;
            border-right: 1px solid rgba(128, 128, 128, 0.374);
            p{
                text-transform: capitalize;
            }
           
        }
        .ticket_details_bar{
            width: 30%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
            .ticket_det_bar_header{
                padding: 10px;
                border-bottom: 1px solid rgba(128, 128, 128, 0.374);
                h5{
                    text-align: center;
                }
            }
            .ticket_details_body_bar{
                padding: 20px;
                .ticket_details_assign_details{
                    display: flex;
                    width: 100%;
                    p{
                        width: 50%;
                        font-size: small;
                    }
                    #assigner_detail{
                        color: #0d6efd;
                        font-weight: 500;
                        text-decoration: 1px solid underline;
                        text-underline-offset: 3px;
                        cursor: pointer;
                    }
                    #estimate_detail{
                        color: #0d6efd;
                        font-weight: 500;
                        text-decoration: 1px solid underline;
                        text-underline-offset: 3px;
                        cursor: pointer;
                    }
                    #status_detail{
                        color: #0d6efd;
                        font-weight: 500;
                        text-decoration: 1px solid underline;
                        text-underline-offset: 3px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .ticket_comment_sec{
        width: 70%;
        border-right: 1px solid rgba(128, 128, 128, 0.374);
        min-height:50vh ;
        padding: 10px;
        border-top: 1px solid rgba(128, 128, 128, 0.374);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
        .commetns_header{
            padding: 10px 0px;
            h6{
                font-size: small;
            }
        }
        .comment_sec_body{
            padding: 10px;
            .add_comment_box{
                width: 100%;
                display: flex;
                img{
                    width: 40px;
                    height: 40px;
                }
                .comment_container{
                    width :90%;
                    margin-left: 2%;
                    .input_container{
                        // border: 1px solid rgba(128, 128, 128, 0.374) ;
                        width: 100%;
                        // padding: 20px 10px;
                        input{
                            border: none;
                            border: 1px solid rgba(128, 128, 128, 0.374) ;
                            &:focus{
                                border: none;
                                box-shadow: none;
                                outline: none;
                            }
                            &:active{
                                border: none;
                                box-shadow: none;
                                outline: none;
    
                            }
                        }
                    }
                }
               
            }
            .user_comment_box{
                width: 100%;
                display: flex;
                img{
                    width: 40px;
                    height: 40px;
                }
                .user_comment_container{
                    width :90%;
                    margin-left: 2%;

                    .comment_user_name{
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                    .user_comments{
                        font-weight: normal;
                        font-size: small;
                    }
                }
            }

        }
        .comment_action_box{
          padding: 10px 0px;
          display: none;
            // button{

            // }
        }
        
    }
  }
.collapse_container{
    position: relative;
    p{
        button{
            width: 100%;
        }
    }

    .collapse_body{
        position: absolute;
        top: 150%;
        width: 100%;

        .log_time_container{
            .time_log_header{
                padding: 10px 0px;
                border-bottom: 1px solid rgba(128, 128, 128, 0.374)  ;
                h6{
                    font-weight: 500;
                }
            }
            .time_track_input{
                padding: 10px 0px;
                label{
                    margin-bottom: 10px;
                    font-size: small;
                }
                input{
                    width: 100%;
                }
            }
            .time_log_format{
                padding: 10px 0px;
                p{
                    margin-bottom: 10px;
                }
                ul{
                    li{
                        list-style: circle;
                    }
                }
            }
            .time_log_des{
                label{
                    font-size: small;
                }
                textarea{
                    width: 100%;
                }
                margin-bottom: 20px;
            }
            .log_time_action_container{
                padding: 10px 0px;
            
            }
        }
    }
}

  td{
    text-transform: capitalize !important;
  }
  .emp_mail_td{
    text-transform: none !important;
  }

  tr{
    // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1) !important;
  }



  .show{
    background: rgba(0, 0, 0, 0.29);
  }

  .theme-btn{
    background-color: #FF698D !important;
    color: white !important;
    outline: none !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 7px 25px !important;
  }

  .charts_container{
    width: 100%;
    height: 50vh;
  }

  .data_set_charts{
    width: 100%;
    // display: flex;

    .charts_pie_container{
        padding: 0px 20px;
        width: 100%;
        height: 50vh;
        margin-bottom: 50px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.374);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
        border-radius: 15px;



        canvas{
            margin: auto;
            // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
            padding: 10px;
            width: 100%;

        }
        .line_charts_s{
            margin: 0;
        }
    }
  }

  .ticket_modal_header{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
    

    .ticket_des_header{
        h4{
            color: #FF698D;

        }
        h5{
            color: #FF698D;
        }
        // .ticket_header_close_btn{
        //     filter: invert(1);
        //     opacity: 1;
        // }

    }

  }


  .data_set_charts_full_graph{
    width: 100%;
    padding: 0px 20px;
        min-height: 50vh;
        

        .charts_pie_container{
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        margin: 30px 0px;
        padding: 10px;

        }
        
        .line_charts_s{
            margin: 0;
            // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
        }
  }



  .badge{
    width: 70%;
    display: block;
  
  }