<div class="dashborad_header">
    <b><%= pagetitle %></b>
    <div class="notification_bar">
        <div class="user_profile">
            <img src="/imgs/user.png" alt="user">
        <p><%= username %></p>
        </div>
        <img src="/imgs/bell.png" class="bell_icon" alt="notification">
    </div>
</div>