<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <link href="/scss/global.css" rel="stylesheet" type="text/css">
    <title>Login</title>
</head>
<body>
    <div class="container-fluid admin_dashboard">
        <div class="nav_side">
            <div class="nav_header_logo">
                <img src="/imgs/quadrafort_logo.png" alt="quadrafort">
            </div>
            <div class="dashboard_nav_links">
                <% if(profile == 'Admin' || profile == 'admin') { %>
                    <a href="#"><i class="fa fa-home"></i>&nbsp;Home</a>
                    <a href="/dashboard" class="active_class"><img src="/imgs/home.png" alt="home">Dashboard</a>
                    <a href="/projects"><img src="/imgs/project-management.png" alt="project">Project</a>
                    <a href="/customers"><img src="/imgs/costumer.png" alt="consumers">Customers</a>
                    <a href="/employees"><img src="/imgs/work-from-home.png" alt="teams">Team</a>
                <% } %>
                <% if(profile == 'Admin' || profile == 'admin' || profile == 'Employee' || profile == 'employee') { %>
                    <a href="/tickets"><img src="/imgs/ticket.png" alt="consumers">Ticket</a>
                <% } %>
                <% if(profile == 'Admin' || profile == 'admin') { %>
                    <a href="/admin/logout"><img src="/imgs/power.png" alt="logout">Log out</a>
                <% } else{ %>
                    <a href="/employee/logout">Log Out</a>
                <% } %>
            </div>
        </div>
        <div class="dashboard_view container-fluid">
            <div class="dashborad_header">
                <b>Dashboard</b>
                <div class="notification_bar">
                    <div class="user_profile">
                        <img src="/imgs/user.png" alt="user">
                        <p><%= username %></p>
                    </div>
                    <img src="/imgs/bell.png" class="bell_icon" alt="notification">
                </div>
            </div>
            <div class="dashboard_stats container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="dashboard_stats_cards">
                            <h4>Projects</h4>
                            <h3>Total</h3>
                            <h3>10</h3>
                            <a href="/admin/projects">Know more</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="dashboard_stats_cards">
                            <h4>Team</h4>
                            <h3>Total</h3>
                            <h3>2</h3>
                            <a href="/admin/employees">Know more</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="dashboard_stats_cards">
                            <h4>Costumers</h4>
                            <h3>Total</h3>
                            <h3>2</h3>
                            <a href="/admin/customers">Know more</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="dashboard_stats_cards">
                            <h4>Tickets</h4>
                            <h3>Total</h3>
                            <h3>10</h3>
                            <a href="/admin/tickets">Know more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>